@{
    ViewBag.Title = "All Users";
}

@using GitGud.Models
@model IEnumerable<GitGud.Models.User>
<div class="container body-content">
    <div class="well">
        <h2>All Users</h2>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {

                        if (ViewBag.Admins.Contains(user))
                        {
                            <tr class="info">
                                <td><strong>@user.UserName</strong></td>
                                <td><strong>@user.Email</strong></td>
                                <td>
                                    <a asp-controller="Admin" asp-action="EditUser" asp-route-userId="@user.Id"><strong>Edit</strong></a>
                                    <a asp-controller="Admin" asp-action="DeleteUserConfirmation" asp-route-userId="@user.Id"><strong>Delete</strong></a>
                                </td>
                            </tr>
                        }
                        else
                        {

                            <tr>
                                <td><strong>@user.UserName</strong></td>
                                <td><strong>@user.Email</strong></td>
                                <td>
                                    <a asp-controller="Admin" asp-action="EditUser" asp-route-userId="@user.Id"><strong>Edit</strong></a>
                                    <a asp-controller="Admin" asp-action="DeleteUserConfirmation" asp-route-userId="@user.Id"><strong>Delete</strong></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>