@model IEnumerable<GitGud.Models.Song>

@{
    ViewBag.Title = "Hot Tracks";
}

<div class="container">
    <div class="col-md-12">
        <h1 style="text-align:center">The hotest tracks from the last 3 days:</h1>
        @if (Model.Any())
        {
            <div class="col-md-4">
                <div class="list-group" style="text-align:center">
                    <span class="list-group-item">
                        <i class="fa fa-snowflake-o"></i> <strong>Fresh:</strong>
                    </span>
                    @foreach (var freshSong in Model.Take(10))
                    {
                        <a class="list-group-item" asp-controller="Song" asp-action="Details" asp-route-songId="@freshSong.Id">"@freshSong.Name" - @freshSong.ArtistName</a>
                    }
                </div>
            </div>

            <div class="col-md-4">
                <div class="list-group" style="text-align:center">
                    <span class="list-group-item">
                        <i class="fa fa-comments"></i> <strong>Most commented:</strong>
                    </span>
                    @foreach (var commentedSong in Model.OrderByDescending(s => s.Comments.Count).ThenBy(s => s.Name).Take(10))
                    {
                        <a class="list-group-item" asp-controller="Song" asp-action="Details" asp-route-songId="@commentedSong.Id"><span class="badge"> @commentedSong.Comments.Count</span>"@commentedSong.Name" - @commentedSong.ArtistName</a>
                    }
                </div>
            </div>

            <div class="col-md-4">
                <div class="list-group" style="text-align:center">
                    <span class="list-group-item">
                        <i class="fa fa-heart"></i> <strong>Most favorited:</strong>
                    </span>
                    @foreach (var favoritedSong in Model.OrderByDescending(s => s.Favorites.Count).ThenBy(s => s.Name).Take(10))
                    {
                        <a class="list-group-item" asp-controller="Song" asp-action="Details" asp-route-songId="@favoritedSong.Id"><span class="badge"> @favoritedSong.Favorites.Count</span>"@favoritedSong.Name" - @favoritedSong.ArtistName</a>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-md-offset-1 col-md-10" style="text-align:center">
                <h3>No one has uploaded anything in the last 3 days.</h3>
                <h3>Why not upload some yourself and bask in the glory of the HotTracks page :)</h3>
                <span><a class="btn btn-success btn-lg" asp-controller="App" asp-action="Upload"><i class="fa fa-cloud-upload fa-2x"> Upload</i></a></span>
            </div>
        }
    </div>
</div>
























            <
