@model GitGud.Models.Song
@{
    ViewBag.Title = "Details";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-likes.js"></script>
    <script src="~/js/app-comments.js"></script>
}
<div class="container">
    <div class="col-md-12">
        <h2 style="text-align:center">"@Model.Name" - <strong>@Model.ArtistName</strong></h2>
        <div class="col-md-6">
            <h3 style="text-align:left">Listen:</h3>
            <audio controls preload="none">
                <source src="~/uploads/@Model.fileAdress" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <a class="btn btn-default" asp-controller="Song" asp-action="DownloadSong" asp-route-strSongId="@Model.Id">Download</a>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin") || Model.UploaderName.Equals(User.Identity.Name))
                {
                    <a asp-controller="Song" asp-action="DeleteSong" asp-route-strSongId="@Model.Id" class="btn btn-primary">Delete</a>
                }
            }

            <div>Added on @Model.DateUploaded.ToString("d") by <span class="label label-warning">@Model.UploaderName</span></div>
        </div>
        <div class="col-md-6">
            <h3 style="text-align:center">Tags for this song:</h3>
            <ul class="pager">
                @if (Model.Tags.Count > 0)
                {
                    @foreach (var tag in Model.Tags)
                    {
                        <li><a asp-controller="Tag" asp-action="Details" asp-route-tagName="@tag.Name" style="margin:3px">@tag.Name</a></li>
                    }
                }
                else
                {
                    <li>No tags to display :(</li>
                }
            </ul>
        </div>
        <div class="col-md-8 col-md-offset-2" style="margin-bottom:10px; padding-top:20px">
            <h1 style="text-align:center">Comments</h1>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("Comments", new GitGud.ViewModels.CommentViewModel())
        }
        else
        {
            <div class="container">
                <div class="col-md-7 col-md-offset-2" style="padding-left:40px">

                    <div>
                        <div class="form-group">

                            <div>
                                <label>Login to comment</label>
                                <textarea rows="5" class="form-control input-lg" type="text" id="inputLarge" placeholder="Log in to comment" disabled=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 7px">
                        <div class="form-group">
                            <div>
                                <a class="btn btn-info" asp-controller="User" asp-action="Login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="comments">
            <div class="col-md-offset-2 col-md-8" style="margin-top:15px">
                @if (Model.Comments.Count > 0)
                {
                    <ul class="list-group">
                        @foreach (var comment in Model.Comments)
                        {
                            <li class="list-group-item">
                                <h3>@comment.Content</h3>
                                <div>
                                    <span><small>Posted on @comment.Date.ToString("d") by </small><label class="label label-warning">@comment.UserName</label></span>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (comment.Likes.Any(x => x.User == User.Identity.Name))
                                        {
                                            <span>
                                                <a class="btn btn-primary btn-xs" onclick="like(@comment.Id)">
                                                    <span class="like-Unlike">
                                                        I <i class="fa fa-thumbs-o-down"></i> IT
                                                    </span>
                                                </a>
                                            </span>
                                        }
                                        else
                                        {

                                            <span>
                                                <a class="btn btn-primary btn-xs" onclick="like(@comment.Id)">
                                                    <span class="like-Unlike">
                                                        I <i class="fa fa-thumbs-o-up"></i> IT
                                                    </span>
                                                </a>
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span>
                                            <a class="btn btn-primary btn-xs" asp-controller="User" asp-action="Login">Login to like</a>
                                        </span>
                                    }
                                    <span class="badge">@comment.Likes.Count</span>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.IsInRole("Admin"))
                                        {
                                            <a class="btn btn-default btn-xs" onclick="deleteComment(@comment.Id)">
                                                Delete this comment! <i class="fa fa-trash-o"></i>
                                            </a>
                                        }
                                    }
                                </div>

                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>